/.idea/
/app/storage/*.key
/app/storage/.htpasswd
/app/storage/local.sqlite
/node_modules/
/public/assets/
/public/fonts/
/public/hot/
/public/storage/
/public/mix-manifest.json
/vendor/
Homestead.json
Homestead.yaml
.env
